.about-section{
    background-color: white;
    margin: 0;
    padding: 0%;

}

.about{
    color: rgb(0, 0, 0);
    text-align: justify;
}
.about a{
    text-decoration: underline;
}
.aboutbg{
    background-color: #EB0028;
}
.about-color{
    color: #EB0028;
}
