@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Newake';
    src: url('./assets/fonts/NewakeFont-Demo.otf') format('opentype');
    font-family: 'Bahnschrift';
    src: url('./assets/fonts/Bahnschrift\ Regular.ttf') format('truetype');
    
  }
  
  
body{
    background-color: rgb(16, 15, 16);
    font-family: 'Bahnschrift', sans-serif;
    margin: 2em;
    
}
.navbar-hover{
    font-size: 1rem;

}
.navbar-hover:hover{
    color: #EB0028;
}

.navbar-cta{
    background-color: #EB0028;
    color: white;
    font-size: 1rem;
}

.navbar{
    margin-top: 0 !important;
}
.hero-text{
    font-size: 5rem;
    color: #EB0028;
    font-family: 'Newake';
}

.hero-text p{
    font-size: 2rem;
    color: white;
    padding-top: 0.5rem;
}
.typed-cursor {
    opacity: 0; /* Set the cursor opacity to 0 to hide it */
  }
.clearfix {zoom: 1}
.clearfix:after {
    content: "-";
    clear: both;
    visibility: hidden;
    height: 0;
    display: block;
}

.section-image {
    padding: 0;
    
}
.section-showcase {
    list-style: none;
    width:100%;
}

.section-showcase li {
    display: block;
    float: left;
    width: 25%;
    
}
.photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #867f7f7c;
    
}
.photo img{
    border-radius: 25%;
    width:100%;
    height:auto;
    transform: scale(1.20);
    transition: transform 0.5s, opacity 0.5s;
}
.photo img:hover{
    transform: scale(1.03);
    opacity: 1;
    
}

.footer-links:hover{
    color: #EB0028;
}

.Count-container {
    margin: 0 auto;
    text-align: center;
  }
  
  
  .count-ul li {
    display: inline-block;
    list-style-type: none;
    font-size: 1em;
    padding: 1em;
  }
  
  .span-class{
    display: block;
    font-size: 4rem;
  }

#about-section{
    background-color: white;
}

@media (max-width: 767px) {
    .hero-text{
        font-size: 3rem;
    }

    .hero-text p{
        font-size: 1.5rem;
    }
    .section-showcase li {
        width: 50%;
    }
    .count-ul li{
        font-size:0.8em;
        padding: 0.8em;
    }

    .span-class{
        font-size: 3rem;
    }

    .hero-text p{
        padding-top: 0.5rem;
    }

    .navbar-hover{
        margin-right: 0.5rem;
    }

}

@media (min-width: 1024px) {
    .hero-section{
        height: 80vh;
        padding-top: 4rem;
    }
}

